.menu {    
    display: flex; /* Используем flexbox для горизонтального расположения */   
    justify-content: space-around; /* Равномерное распределение элементов меню */   
    background-color: rgb(0, 0, 0); /* Черный полупрозрачный фон */   
    padding: 10px 5px; /* Увеличим горизонтальный отступ, уменьшим вертикальный */   
      
    box-shadow: 0 2px 15px rgba(57, 18, 96, 0.692); /* Уменьшенная тень для меню */   
    position: fixed; /* Закрепляем меню в верхней части страницы */   
    top: 0; /* Располагаем меню вверху */   
    width: 100%; /* Меню занимает всю ширину */   
    z-index: 10000; /* Устанавливаем z-index для обеспечения видимости над другими элементами */   
    overflow: auto; /* Обеспечиваем прокрутку, если пункты не помещаются */  
}  

.menu_a {  
    color: white; /* Цвет ссылок в меню */  
    text-decoration: none; /* Убираем подчеркивание */  
    margin: 0 5px; /* Меньшие отступы между ссылками */  
    position: relative; /* Устанавливаем положение для псевдоэлемента */  
    padding: 8px 10px; /* Уменьшенные отступы для ссылок */  
    transition: background-color 0.3s ease; /* Плавный переход для фона */   
}  

.menu_a:hover {  
    color: rgb(125, 0, 250); /* Цвет текста при наведении */  
    transition: 0.8s; /* Плавный переход цвета при наведении */  
}  

.menu_a::after {  
    content: ''; /* Объявляем пустой контент для псевдоэлемента */  
    display: block; /* Делаем псевдоэлемент блочным */  
    width: 100%; /* Ширина псевдоэлемента на всю ширину ссылки */  
    height: 2px; /* Высота подчеркивания */  
    background-color: rgb(125, 0, 250); /* Цвет подчеркивания */  
    position: absolute; /* Абсолютное позиционирование */  
    left: 0; /* Смещаем его на лево */  
    bottom: -5px; /* Смещаем вниз немного под ссылку */  
    transform: scaleX(0); /* Начальное значение (невидимый) */  
    transition: transform 0.8s ease; /* Плавный переход при наведении */  
}  

.menu_a:hover::after {  
    transform: scaleX(1); /* При наведении делаем линию видимой */  
}  

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста */
    text-decoration: none; /* Убрать подчеркивание */
    border-radius: 5px; /* Закругленные углы */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.button:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}
